@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  background-image: url("./images/bg-desktop-light.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
}
body .pageContainer {
  width: 540px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}
body .pageContainer header {
  display: flex;
  justify-content: space-between;
}
body .pageContainer header h1 {
  font-size: 40px;
  color: #fafafa;
}
body .pageContainer header button.icon-mode {
  background-image: url("./images/icon-moon.svg");
  width: 26px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0);
  color: #fafafa;
  border: none;
}
body .pageContainer main .todoContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .pageContainer main .todoContainer header {
  display: flex;
  justify-content: left;
  background-color: #fafafa;
  height: 64px;
  border-radius: 5px;
  margin-bottom: 24px;
}
body .pageContainer main .todoContainer header button.check {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  border: 1px solid #e4e5f1;
  border-radius: 50%;
  margin: 20px 24px;
}
body .pageContainer main .todoContainer header input {
  background-color: #fafafa;
  border-style: none;
  color: #e4e5f1;
}
body .pageContainer main .todoContainer ul {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #fafafa;
  border-radius: 5px;
}
body .pageContainer main .todoContainer ul li {
  height: 64px;
  border-bottom: 1.5px solid #e4e5f1;
  list-style: none;
  position: relative;
}
body .pageContainer main .todoContainer ul li button.check {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  border: 1px solid #e4e5f1;
  border-radius: 50%;
  margin: 20px 24px;
}
body .pageContainer main .todoContainer ul li .listText {
  position: absolute;
  top: 24px;
  color: #393a4c;
}
body .pageContainer main .todoContainer footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
body .pageContainer main .todoContainer footer .itemsLeft {
  font-size: 12px;
}
body .pageContainer main .todoContainer footer .filter button.text,
body .pageContainer main .todoContainer footer .clearCompleted button.text {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}
body .pageContainer footer {
  font-size: 12px;
}
body .attribution {
  font-size: 11px;
  text-align: center;
}
body .attribution a {
  color: #3e52a3;
}