@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$bright-blue: hsl(220, 98%, 61%);
$check-background-light: hsl(192, 100%, 67%);
$check-background-dark: hsl(280, 87%, 65%);

// Light Theme
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue-day: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);

// Dark Theme
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue-night: hsl(234, 39%, 85%);
$light-grayish-blue-night-hover: hsl(236, 33%, 92%);
$dark-grayish-blue-night: hsl(234, 11%, 52%);
$very-dark-grayish-blue-night-other: hsl(233, 14%, 35%);
$very-dark-grayish-blue-night: hsl(237, 14%, 26%);

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    &:focus {
        outline: 0;
    }
}



// desktop styles
body {
    .pageContainer {

        max-width: 1440px;
        height: 100%;
        background-image: url("./images/bg-desktop-light.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-color: $very-light-gray;

        .innerContainer {
            width: 540px;
            padding-top: 80px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            font-size: 18px;

            header {
                display: flex;
                justify-content: space-between;

                h1 {
                    font-size: 40px;
                    color: $very-light-gray;
                }

                button {
                    &:hover {
                        cursor: pointer;
                    }
                }

                button.color-scheme {
                    width: 26px;
                    height: 26px;
                    background-color: rgba(0, 0, 0, 0);
                    color: $very-light-gray;
                    border: none;
                    background-image: url("./images/icon-moon.svg");
                    background-size: 100%;
                }
            }


            .todoContainer {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                header.inputContainer {
                    display: flex;
                    justify-content: left;
                    background-color: $very-light-gray;
                    height: 64px;
                    border-radius: 5px;
                    margin-bottom: 24px;

                    button.check {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-color: rgba(0, 0, 0, 0);
                        width: 24px;
                        height: 24px;
                        border: 1px solid $very-light-grayish-blue;
                        border-radius: 50%;
                        margin: 20px 24px;
                    }

                    button.on {
                        position: relative;
                        background: linear-gradient($check-background-light, $check-background-dark);

                        .icon-check {
                            position: absolute;
                            top: -1px;
                            width: 24px;
                            height: 24px;
                            background-image: url("./images/icon-check.svg");
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                    }

                    input {
                        background-color: $very-light-gray;
                        border-style: none;
                        color: $light-grayish-blue-day;
                        font-size: 18px;

                        &:focus {
                            outline: none;
                            border-style: none;
                            color: $dark-grayish-blue;
                        }
                    }
                }

                main {
                    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;

                    ul {
                        border-radius: 5px;
                        background-color: $very-light-gray;

                        li {
                            height: 64px;
                            border-bottom: 1.5px solid $light-grayish-blue-day;
                            list-style: none;
                            position: relative;

                            &:hover .icon-cross {
                                opacity: 0.75;
                            }

                            button.check {
                                width: 24px;
                                height: 24px;
                                border: 1px solid $very-light-grayish-blue;
                                background-color: rgba(0, 0, 0, 0);
                                border-radius: 50%;
                                margin: 20px 24px;

                                &:hover {
                                    cursor: pointer;
                                    border: 1px solid $dark-grayish-blue;
                                }
                            }

                            .listText {
                                position: absolute;
                                top: 24px;
                                color: $very-dark-grayish-blue;
                                font-weight: 400;

                                &:hover {
                                    cursor: pointer;
                                    color: $dark-grayish-blue;
                                }
                            }

                            .icon-cross {
                                position: absolute;
                                right: 20px;
                                top: 20px;
                                width: 24px;
                                height: 24px;
                                background-image: url("./images/icon-cross.svg");
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 75%;
                                opacity: 0;

                                &:hover {
                                    cursor: pointer;
                                    opacity: 1;
                                }
                            }
                        }

                        li.covered {
                            background-color: $light-grayish-blue-day;
                        }

                        li.complete {
                            button.on {
                                position: relative;
                                background: linear-gradient($check-background-light, $check-background-dark);

                                .icon-check {
                                    position: absolute;
                                    top: -1px;
                                    width: 24px;
                                    height: 24px;
                                    background-image: url("./images/icon-check.svg");
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                }

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            .listText {
                                text-decoration: line-through;
                                color: $light-grayish-blue-day;

                                &:hover {
                                    cursor: pointer;
                                    color: $very-light-grayish-blue;
                                }
                            }
                        }
                    }

                    footer {
                        background-color: $very-light-gray;
                        display: flex;
                        justify-content: space-between;
                        padding: 18px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        .itemsLeft {
                            color: $dark-grayish-blue;
                            font-weight: 400;
                            font-size: 14px;
                        }

                        .filter {
                            button.text {
                                padding: 0 4px;
                                color: $dark-grayish-blue;
                                font-size: 14px;
                                font-weight: 700;
                                background-color: rgba(0, 0, 0, 0);
                                border-style: none;

                                &:hover {
                                    cursor: pointer;
                                    color: $very-dark-grayish-blue;
                                }
                            }

                            button.text.on {
                                color: $bright-blue;

                                &:hover {
                                    cursor: default;
                                    color: $bright-blue;
                                }
                            }
                        }

                        .clearCompleted {
                            button.text {
                                color: $dark-grayish-blue;
                                font-size: 14px;
                                background-color: rgba(0, 0, 0, 0);
                                border-style: none;

                                &:hover {
                                    cursor: pointer;
                                    color: $very-dark-grayish-blue;
                                }
                            }
                        }
                    }
                }
            }


            .instruction {
                padding-top: 64px;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                color: $dark-grayish-blue;
            }
        }

        .attribution {
            padding-top: 32px;
            font-size: 12px;
            text-align: center;

            a {
                font-size: 12px;
                color: hsl(228, 45%, 44%);
            }
        }
    }

    // colour settings for dark mode
    .pageContainer.dark {
        background-image: url("./images/bg-desktop-dark.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-color: $very-dark-blue;

        .innerContainer {
            header {
                button.color-scheme {
                    background-image: url("./images/icon-sun.svg");
                }
            }

            .todoContainer {
                header {
                    button.check {
                        border: 1px solid $very-dark-grayish-blue-night-other;

                        &:hover {
                            border: 1px solid $check-background-dark;
                        }
                    }
                }

                .inputContainer {
                    background-color: $very-dark-desaturated-blue;

                    input {
                        background-color: $very-dark-desaturated-blue;
                        color: $dark-grayish-blue-night;

                        &:focus {
                            color: $light-grayish-blue-night;
                        }
                    }
                }

                main {
                    ul {
                        background-color: $very-dark-desaturated-blue;

                        li {
                            border-bottom: 1.5px solid $very-dark-grayish-blue;

                            button {
                                border: 1px solid $very-dark-grayish-blue-night-other;

                                &:hover {
                                    border: 1px solid $check-background-dark;
                                }
                            }

                            .listText {
                                color: $light-grayish-blue-night;

                                &:hover {
                                    color: $light-grayish-blue-night-hover;
                                }
                            }
                        }

                        li.complete {
                            .listText {
                                color: $very-dark-grayish-blue-night;

                                &:hover {
                                    color: $very-dark-grayish-blue-night-other;
                                }
                            }
                        }
                    }

                    footer {
                        background-color: $very-dark-desaturated-blue;

                        .filter {
                            button.text {
                                color: $dark-grayish-blue;

                                &:hover {
                                    color: $light-grayish-blue-night-hover;
                                }
                            }

                            button.text.on {
                                color: $bright-blue;

                                &:hover {
                                    cursor: default;
                                    color: $bright-blue;
                                }
                            }
                        }

                        .clearCompleted {
                            button.text {
                                color: $very-dark-grayish-blue-night-other;

                                &:hover {
                                    cursor: pointer;
                                    color: $light-grayish-blue-night;
                                }
                            }
                        }
                    }
                }
            }
        }

        .attribution {
            color: $dark-grayish-blue-night;

            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}

// mobile styles
@media only screen and (max-width: 375px) {

    body {
        .pageContainer {
            max-width: 375px;
            background-position: top top;

            .innerContainer {
                width: 320px;
                padding-top: 48px;
                font-size: 12px;

                header {
                    h1 {
                        font-size: 28px;
                    }

                    button.color-scheme {

                        width: 20px;
                        height: 20px;

                    }
                }

                .todoContainer {
                    margin-top: 32px;

                    header.inputContainer {
                        height: 52px;
                        margin-bottom: 16px;

                        button.check {
                            width: 20px;
                            height: 20px;
                            margin: 16px 14px 14px 18px;
                        }

                        button.on {
                            .icon-check {
                                top: 0px;
                                width: 18px;
                                height: 18px;
                            }
                        }

                        input {
                            font-size: 12px;
                        }

                    }

                    main {

                        ul {
                            li {
                                height: 52px;

                                button.check {
                                    width: 20px;
                                    height: 20px;
                                    margin: 16px 14px 14px 18px;
                                }

                                .listText {
                                    top: 20px;
                                }

                                .icon-cross {
                                    opacity: 0.75;
                                    width: 16px;
                                    height: 16px;
                                    right: 16px;
                                    top: 16px;
                                }
                            }

                            li.complete {
                                button.on {
                                    .icon-check {
                                        top: -3px;
                                        right: -3px;
                                    }
                                }
                            }
                        }

                        footer {
                            position: relative;

                            .itemsLeft {
                                font-size: 12px;
                            }

                            .filter {
                                display: flex;
                                justify-content: center;
                                position: absolute;
                                width: 320px;
                                top: 68px;
                                left: 0;
                                border-radius: 5px;
                                background-color: $very-light-gray;

                                button.text {
                                    padding: 16px 10px;
                                }
                            }

                            .clearCompleted {

                                button.text {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                .instruction {
                    padding-top: 90px;
                    font-size: 12px;
                }
            }
        }

        .pageContainer.dark {
            .innerContainer {
                .todoContainer {
                    main {
                        footer {
                            .itemsLeft {
                                color: $very-dark-grayish-blue;
                            }

                            .filter {
                                background-color: $very-dark-desaturated-blue;

                                button.text {
                                    color: $very-dark-grayish-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}